body {
  background-color: #000000;
}

.Holder {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #000000;
  animation: Rotate 0.5s linear;
}

@keyframes Rotate {
  0% {
    transform: rotate3d(1, 2, 3, 180deg);
  }
  100% {
    transform: rotate3d() 4, 5, 6, 90deg;
  }
}
